:root {
  --main-title-color: #fff;
  --main-secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-font: "Raleway", sans-serif;
  --basic-margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.header {
  background-color: gray;
  padding: 32px 0;
}
.header-navigation {
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.header-btn {
  color: #ffffff;
}
.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* <!--Hero section--> */
.hero {
  background-color: grey;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}
.hero-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* <!--/Hero section--> */

/* <!-- About section--> */
.about {
}
.abput-list {
}
.about-item {
}
.about-subtitle {
  color: var(--main-secondary-title-color);
}
.about-title {
  color: var(--main-secondary-title-color);
}
.about-description {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-description span {
  font-size: 18px;
  line-height: 1.67;
}
.about-btn {
  color: #303030;
}
/* <!-- /About section--> */

/*<!--Section Services-->  */
.prices {
}
.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}
.prices-item {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: #ffffff;
}
/* <!--/Section Services--> */

/* <!-- Section Feature--> */
.benefits {
}
.benefits-list {
}

.benefits-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
  color: #303030;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-subtitle {
  color: var(--main-secondary-title-color);
}
.benefits-title {
  color: var(--main-secondary-title-color);
}
.benefits-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
/* <!-- Section Feature--> */

/* <!--Section Team--> */
.barbers {
}
.barbers-subtitle {
  color: var(--main-secondary-title-color);
}

.barbers-title {
  color: var(--main-secondary-title-color);
}
.barbers-list {
}

.barbers-item {
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-secondary-title-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* <!--/Section Team--> */

/*    <!--Section Gallery--> */
.gallery {
}
.gallery-subtitle {
  color: var(--main-secondary-title-color);
}
.visually-hidden {
}
.gallery-list {
}

.gallery-item {
}
/*    <!--/Section Gallery--> */

/* <!--Section Contact--> */
.contact {
}
.contact-title {
  color: var(--main-title-color);
}

.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-list {
}

.contact-item {
}
.contact-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-subtitle {
  color: var(--main-title-color);
}
.contact-hours {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* <!--/Section Contact--> */
